body {
    padding: 0;
    display: block;
    max-width: 2000px;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', Karla, sans-serif;
}

header {
    height: 9rem;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #1C273B;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    position: fixed;
}

.header-space {
    height: 9rem;
    width: 100%;
    background:  #1C273B;
}

.footer {
    width: 100%;
    height: 20rem;
    padding-top: 24px;
    padding-bottom: 24px;
    background: linear-gradient(90deg, #E2E6F2 0%, #D1EBEE 25%, #E9E0F2 50%, #E2E6F2 76%, #EBF3DE 100%);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: inline-flex;
}

.copyright {
    width: 94%;
    height: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    word-wrap: break-word
}

.copyright-font {
    color: #1C273B;
    font-size: 20px;
    font-family: Karla;
    font-weight: 400;
    word-wrap: break-word;
}

section {
    width: 100%;
}

img {
    /* this is very aggressive! */
    /*
    width: 100%;
    height: auto;
    */
}

h1 {
    color: #1C273B;
    font-size: 54px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word;
    display: block;
    margin: 0px;
}

h2 {
    color: #1C273B;
    font-size: 42px;
    font-family: Lato;
    font-weight: 700;
    word-wrap: break-word;
}

h3 {
    color: #1C273B;
    font-size: 24px;
    font-family: Lato;
    font-weight: 300;
    word-wrap: break-word;
}

h4 {
    color: #1C273B;
    font-size: 18px;
    font-family: Karla;
    font-weight: 700;
    word-wrap: break-word;
    display: block;
}

h5 {
    color: #1C273B;
    font-size: 20px;
    font-family: Lato;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
}

h6 {
    color: #1C273B;
    font-size: 30px;
    font-family: Lato;
    font-weight: 500;
    word-wrap: break-word;
    display: block;
    margin: 0px;
}

p {
    font-size: 16px;
    font-family: Karla;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 12px;
    color: #1C273B;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    width: 100%; /* may need to update for mobile */
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-logo {
    width: 275px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 0rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-menu a {
    float: left;
    display: block;
    color: #ffffff;
    align-items: center;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-flex;
    border-bottom: 3px solid transparent;
    word-wrap: break-word;
}

.nav-menu a:hover {
    border-bottom: 3px solid #565272;
    color: #565272;
    text-decoration: none;
}

.nav-menu a.active {
    border-bottom: 3px solid #ffffff;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C273B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.pointer {
    cursor: pointer;
}

.bullet:before {
    content: "\2022";
    padding-right: 6px;
}

.p-rl {
    padding-left: 72px;
    padding-right: 72px;
}

.p-all {
    padding-left: 72px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 72px;
}

.p-l {
    padding-left: 72px;

}

.m-b {
    margin-bottom: 12px;
}

.m-b2x {
    margin-bottom: 24px;
}

.m-b4x {
    margin-bottom: 48px;
}

.fc-xlblue {
    color: #1EBBE6;
}

.fc-white {
    color: #ffffff;
}

.bkgd-blue {
    background-color: #0073ad;
}

.hero-home {
    width: 100%;
    height: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    background-image: url("../images/About-Hero-Banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.spacer {
    width: 100%;
    height: 100%;
    border: 1px #CFD1D2 solid;
    margin: auto;
}

.footer {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url("../images/About-Hero-Banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    display: inline-flex;
}

.footerbar {
    width: 95%;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 24px;
    display: inline-flex;
}

.copyright {
    width: 94%;
    height: 100%;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    word-wrap: break-word
}

.copyright-font {
    color: #1C273B;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 400;
    word-wrap: break-word;
}

.button-1 {
    padding: 16px;
    background: #1EBBE6;
    box-shadow: 4px 4px 15px rgba(56, 77, 98, 0.30);
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: #1C273B;
    font-size: 24px;
    font-family: Lato;
    font-weight: 400;
    word-wrap: break-word;
    text-decoration: none;
    cursor: pointer;
}

.button-1:hover {
    background: #0EB3E6;
    box-shadow: 4px 4px 15px rgba(56, 77, 98, 0.30);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid-11x1 {
    display: grid;
    width: 100%;
    grid-template-areas:
        'a b c d e f g h i j k';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 48px;
}

.grid-11x1-1 {
    grid-area: a;
}

.grid-11x1-2 {
    grid-area: b;
}

.grid-11x1-3 {
    grid-area: c;
}

.grid-11x1-4 {
    grid-area: d;
}

.grid-11x1-5 {
    grid-area: e;
}

.grid-11x1-6 {
    grid-area: f;
}

.grid-11x1-7 {
    grid-area: g;
}

.grid-11x1-8 {
    grid-area: h;
}

.grid-11x1-9 {
    grid-area: i;
}

.grid-11x1-10 {
    grid-area: j;
}

.grid-11x1-11 {
    grid-area: k;
}

.grid-6x2 {
    display: grid;
    width: 100%;
    grid-template-areas:
        'l m n o p q'
        'r s t u v w';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 36px;
}

.grid-6x2-1 {
    grid-area: l;
}

.grid-6x2-2 {
    grid-area: m;
}

.grid-6x2-3 {
    grid-area: n;
}

.grid-6x2-4 {
    grid-area: o;
}

.grid-6x2-5 {
    grid-area: p;
}

.grid-6x2-6 {
    grid-area: q;
}

.grid-6x2-7 {
    grid-area: r;
}

.grid-6x2-8 {
    grid-area: s;
}

.grid-6x2-9 {
    grid-area: t;
}

.grid-6x2-10 {
    grid-area: u;
}

.grid-6x2-11 {
    grid-area: v;
}

.grid-6x2-12 {
    grid-area: w;
}

.grid-4x1 {
    display: grid;
    width: 100%;
    grid-template-areas:
        'TL TML TMR TR';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 24px;
}

.grid-4x1-1 {
    grid-area: TL;
}

.grid-4x1-2 {
    grid-area: TML;
}

.grid-4x1-3 {
    grid-area: TMR;
}

.grid-4x1-4 {
    grid-area: TR;
}


.grid-2x1-2thirds1third {
    display: grid;
    width: 100%;
    grid-template-areas:
        'TL TR';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 96px;
}

.grid-2x1-2thirds1third-1 {
    grid-area: TL;
}

.grid-2x1-2thirds1third-2 {
    grid-area: TR;
}

.grid-2x1-1third2thirds {
    display: grid;
    width: 100%;
    grid-template-areas:
        'TL TR';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 24px;
}

.grid-2x1-1third2thirds-1 {
    grid-area: TL;
}

.grid-2x1-1third2thirds-2 {
    grid-area: TR;
}

.grid-4x1-1fourth3 {
    display: grid;
    width: 100%;
    grid-template-areas:
        'TL TR';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 24px;
}

.grid-4x1-1fourth3-1 {
    grid-area: TL;
}

.grid-4x1-1fourth3-2 {
    grid-area: TR;
}

.grid-4x3 {
    display: grid;
    width: 100%;
    grid-template-areas:
        'TL TML TMR TR'
        'ML MML MMR MR'
        'BL BML BMR BR';
    grid-template-columns: 24% 24% 24% 24%; 
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 24px;
}

.grid-4x3-1 {
    grid-area: TL;
}

.grid-4x3-2 {
    grid-area: TML;
}

.grid-4x3-3 {
    grid-area: TMR;
}

.grid-4x3-4 {
    grid-area: TR;
}

.grid-4x3-5 {
    grid-area: ML;
}

.grid-4x3-6 {
    grid-area: MML;
}

.grid-4x3-7 {
    grid-area: MMR;
}

.grid-4x3-8 {
    grid-area: MR;
}

.grid-4x3-9 {
    grid-area: BL;
}

.grid-4x3-10 {
    grid-area: BML;
}

.grid-4x3-11 {
    grid-area: BMR;
}

.grid-4x3-12 {
    grid-area: BR;
}

.card {
    width: 348px; /* fixed widths can cause fluid containers to overlap */
    height:100%;
    padding: 24px;
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(25, 39, 61, 0.30);
    border-radius: 12px;
    border: 2px #A6A7AA solid;
    justify-content: left;
    align-items: left;
    gap: 24px; 
}

.bkgd-img-1 {
    background-image: url("../images/Card-DAaM.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-2 {
    background-image: url("../images/Card-MC.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-3 {
    background-image: url("../images/Card-TaV.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-4 {
    background-image: url("../images/Card-DTaS.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-5 {
    background-image: url("../images/Card-PM.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-6 {
    background-image: url("../images/Card-UIUXaVD.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-7 {
    background-image: url("../images/Card-EA.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-8 {
    background-image: url("../images/Card-SD.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-9 {
    background-image: url("../images/Card-I.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-10 {
    background-image: url("../images/Card-SaA.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-11 {
    background-image: url("../images/Card-DG.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-12 {
    background-image: url("../images/Card-DF.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-13 {
    background-image: url("../images/Card-FM.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-14 {
    background-image: url("../images/Card-A.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-15 {
    background-image: url("../images/Card-AI.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-16 {
    background-image: url("../images/Card-M.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-17 {
    background-image: url("../images/Card-C.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-18 {
    background-image: url("../images/Card-VC.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-19 {
    background-image: url("../images/Card-IoT.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd-img-20 {
    background-image: url("../images/Card-ML.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.icon-container > img {
    margin: 1rem;
}